<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label">Nick</label>
		<div class="col-sm-10">
			<p class="form-control-static">{{nick}}</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<p class="form-control-static">{{email}}</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Biography</label>
		<div class="col-sm-10">
			<p class="form-control-static">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis nostrum, officia expedita sit quidem. Numquam mollitia consequatur, sed dolore totam omnis ducimus obcaecati fuga, molestiae non suscipit! Veniam, voluptate, voluptatibus?<br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit non at veniam porro, nobis error ullam perspiciatis quam doloremque debitis nulla suscipit? Cupiditate laudantium officia quisquam nostrum sunt dolorum earum!<br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque deserunt atque cum, rem enim repellendus odio vel debitis laboriosam blanditiis! Provident assumenda repellat similique officia inventore maiores pariatur alias facere.<br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam nemo, dolores officiis. Cum quis minima pariatur possimus totam ratione voluptates aliquam, deleniti perferendis temporibus fugiat reiciendis sequi et maxime voluptatum.<br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas temporibus minima cum neque, sed soluta voluptatum debitis harum consequuntur alias dolore accusantium, veniam dolorum magni in autem consequatur aliquam omnis.<br>
			</p>
		</div>
	</div>
</form>
